.button-primary{
    background: #fd658f;
    color: white;
    width: 200px;
    border: 0px;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 2px;
    cursor: pointer;
}

.button-secondary{
    border: 3px solid #c41c1c;
    color: #c41c1c;
    width: 200px;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 2px;
    cursor: pointer;
}